<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comercializadora de Computadoras</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> <!-- Archivo CSS personalizado -->
</head>

<body>
    <header class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <img src="../static/img/logo.jpg" alt="Logo de la Comercializadora de Computadoras" style="width: 50px; height: 50px;">
                    CompuMesa
                </h1>
                <h2 class="subtitle">
                    Venta de equipos y accesorios informáticos
                </h2>
            </div>
        </div>
    </header>

    <nav class="navbar is-light">
        <div class="container">
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a href="{{ url_for('main.index') }}" class="navbar-item">
                        Inicio
                    </a>
                    <a href="{{ url_for('main.contacto') }}" class="navbar-item">
                        Contacto
                    </a>
                </div>
                <div class="navbar-end">
                    {% if current_user.is_authenticated %}
                    {% if current_user.has_role('admin') %}
                    <a href="{{ url_for('main.lista_productos') }}" class="navbar-item">
                        Lista de Productos
                    </a>
                    <a href="{{ url_for('main.agregar_producto') }}" class="navbar-item">
                        Agregar Producto
                    </a>
                    {% endif %}
                    <a href="{{ url_for('main.profile') }}" class="navbar-item">
                        Perfil de Usuario
                    </a>
                    <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                        Cerrar Sesión
                    </a>
                    {% else %}
                    <a href="{{ url_for('auth.login') }}" class="navbar-item">
                        Login
                    </a>
                    <a href="{{ url_for('auth.register') }}" class="navbar-item">
                        Registro
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    
    

    <section class="section">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <p class="title is-5">Comercializadora de Computadoras</p>
                    <p>Somos una empresa dedicada a la venta de equipos y accesorios informáticos.</p>
                </div>
                <div class="column">
                    <p class="title is-5">Contáctanos</p>
                    <p><i class="fas fa-phone"></i> +1 555-123
                        -4567</p>
                        <p><i class="fas fa-envelope"></i> info@compumesa.com</p>
                        <p><i class="fas fa-map-marker-alt"></i> Dirección: 123 Calle Principal, León, Guanajuato, Código Postal 12345</p>
                    </div>