{% extends "base.html" %}

{% block content %}
<section class="hero is-info" style="background-image: url('/static/img/background.jpg'); background-size: cover; background-position: center center;">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Bienvenido a nuestra tienda de computadoras
            </h1>
            <h2 class="subtitle">
                Descubre las mejores ofertas en laptops, desktops, periféricos y más.
            </h2>
        </div>
    </div>
</section>


                            {% endblock %}
